---
name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macOS-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Build
        run: cargo build --verbose
      - name: Rust fmt
        run: cargo fmt -- --check
      - name: Clippy
        run: cargo clippy -- -D warnings
      - name: Doc tests
        run: cargo test --doc
      - name: Install test deps
        run: cargo test --verbose --all
